html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  font-family: 'Courier New', Courier, monospace;
  color: rgba(251, 24, 202, 255);
  text-align: center;
}

.gradient {
  background-image: linear-gradient(rgba(73, 6, 99, 255), rgba(10, 92, 165, 255));
}


.no-dots {
  border: none !important;
}

a, a:hover, a:visited, a:link, .status {
  color: rgba(251, 24, 202, 255);
  padding: 1rem;
  border-style: dotted;
  text-decoration: none;
}

a:hover {
  border-style: solid;
}

.margin {
  margin: 3rem;
}

.coming-soon {
  text-decoration: line-through !important;
}

.status {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
}

.connecting {
  top: 1rem !important;
  left: 1rem !important;
  text-align: left;
}
