html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: 'Courier New', Courier, monospace;
  color: rgba(251, 24, 202, 255);
  text-align: center;
}

body {
  overflow: hidden;
}

.gradient {
  background-image: linear-gradient(rgba(106, 0, 128, 255), rgba(0, 26, 77, 255));
}


.no-dots {
  border: none !important;
}

a, a:hover, a:visited, a:link, .status {
  color: rgba(251, 24, 202, 255);
  padding: 1rem;
  border-style: none;
  text-decoration: none;
}

a:hover {
  border-style: solid;
}

.margin {
  margin: 3rem;
}

.coming-soon {
  text-decoration: line-through !important;
}

.status {
  position: absolute;
  right: 2.5vmin;
  bottom: 2.5vmin;
}

.connecting {
  top: 20vmax !important;
  left: 2.5vmin !important;
  text-align: left;
}

#main-container {
  display: grid;
  width: calc(100% - 10vmin);
  height: calc(100% - 10vmin);
  grid-template-rows: 3fr 1fr;
  padding: 5vmin;
}

#logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

#logo {
  width: auto;
}

#logo-title {
  position: absolute;
  /* width: 256px; */
  z-index: 10;
}

#logo-title img {
  width: 100%
}

#logo-3d {
  position: absolute;
}

#logo-3d img {
  width: 100%
}

#colophon {
  margin: 5vmin;
  text-align: left;
}

#colophon a {
  padding: 0px;
  text-decoration: underline;
}

#colophon a:hover {
  border: none;
}

#logo-icon {
  padding: 5vmin;
  padding-bottom: 0px;
  height: 128px;
}

#logo-icon a:hover {
  border: none;
}

#logo-icon #logo-title {
  max-width: 128px;
  max-height: 128px;
}

#logo-icon #logo-3d {
  max-width: 128px;
  max-height: 128px;
}

.colophon-body {
  overflow: visible;
}

#logo-game {
  position: fixed;
  top: 2.5vmin;
  left: 2.5vmin;
  width: 100%;
  height: 100%;
}

#logo-game #logo-title {
  max-width: 128px;
  max-height: 128px;
}

#logo-game #logo-3d {
  max-width: 128px;
  max-height: 128px;
}

#logo-game a:hover {
  border: none;
}
